@font-face {
  font-family: "iconfont"; /* Project id 4357739 */
  src: url('iconfont.woff2?t=1701757929581') format('woff2'),
       url('iconfont.woff?t=1701757929581') format('woff'),
       url('iconfont.ttf?t=1701757929581') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zi:before {
  content: "\e61b";
}

.icon-message:before {
  content: "\e623";
}

.icon-jia:before {
  content: "\e60a";
}

.icon-Picture:before {
  content: "\e796";
}

.icon-zhuan:before {
  content: "\e626";
}

.icon-qing:before {
  content: "\e610";
}

.icon-Write:before {
  content: "\e887";
}

.icon-hang:before {
  content: "\e741";
}

.icon-email:before {
  content: "\e628";
}

.icon--dengpao:before {
  content: "\e621";
}

.icon-TALKONPHONE:before {
  content: "\e7ed";
}

.icon-position:before {
  content: "\e7f1";
}

.icon-canleder:before {
  content: "\e600";
}

.icon-icon_browser:before {
  content: "\e609";
}

.icon-icon-search:before {
  content: "\e60f";
}

.icon-icon-comment:before {
  content: "\e601";
}

.icon-Icon_customerservice:before {
  content: "\e65b";
}

.icon-shopping-cart-full:before {
  content: "\e622";
}

.icon-icon-favorites-fill:before {
  content: "\e78d";
}

.icon-icon_fabulous:before {
  content: "\e61e";
}

.icon-icon-arrow-right-bold:before {
  content: "\e624";
}

.icon-icon-arrow-left-bold:before {
  content: "\e625";
}

.icon-icon-mobile-phone:before {
  content: "\e60d";
}

.icon-tubiaozhizuomoban-:before {
  content: "\e606";
}

.icon-fengjing:before {
  content: "\e63f";
}

.icon-ZX_LYJD:before {
  content: "\e665";
}

.icon-baobaoxiaodao-xuanzhongzhuangtai:before {
  content: "\e693";
}

.icon-fengjing-01:before {
  content: "\e7d0";
}

